@{
    ViewBag.Title = "My Widgets";
}

    <h1 class="page-title">
        <i class="icon-th-large"></i>My Widgets
    </h1>
    <div class="row">
        <div class="span9">
            <div class="widget">
                <div class="widget-content">
                    <h3>
                        My Widgets</h3>
                    <p>
                        Here are some JavaScript snippets which you can copy/paste onto your verified domain.</p>
                </div>
                <!-- /widget-content -->
            </div>
            <!-- /widget -->
        </div>
        <!-- /span9 -->
    </div>
    <!-- /row -->
    <div class="row">
        <div class="span3">
            <div class="widget">
                <div class="widget-content">
                    <h3>
                        <a href="/widgets/adrenderer">Ad Renderer Widget</a></h3>
                    <p>
                        The Ad Renderer Widget enables you to render a series of ads pulled from the ApiBridge
                        catalogue based on a certain criteria provided by you.</p>
                </div>
                <!-- /widget-content -->
            </div>
            <!-- /widget -->
        </div>
        <!-- /span3 -->
        <div class="span3">
            <div class="widget">
                <div class="widget-content">
                    <h3><a href="/widgets/leadcapture">Lead Capture Widget</a></h3>
                    <p>
                        The Lead Capture Widget enables you to render a simple lead capture form that will
                        store several pieces of customer information for retrieval.</p>
                </div>
                <!-- /widget-content -->
            </div>
            <!-- /widget -->
        </div>
        <!-- /span3 -->
        <div class="span3">
            <div class="widget">
                <div class="widget-content">
                    <h3><a href="/widgets/pageimpression">Page Impression Widget</a></h3>
                    <p>
                        The Page Impression Widget will allow you to log information everytime a specific
                        page which contains this script is loaded. Effective for A/B testing and traffic
                        monitoring.</p>
                </div>
                <!-- /widget-content -->
            </div>
            <!-- /widget -->
        </div>
        <!-- /span3 -->
    </div>
    <!-- /row -->
