@{
    ViewBag.Title = "My Contracts";
}

    <h1 class="page-title">
        <i class="icon-th-large"></i>My Contracts
    </h1>
    <div class="row">
        <div class="span9">
            <div class="widget">
                <div class="widget-header">
                    <h3>
                        Contract Terms</h3>
                </div>
                <div class="widget-content">
                    <form method="post" action="contracts">
                    <textarea style="width: 450px; height: 450px;">
                    </textarea>
                    <br />
                    <button type="submit" class="btn btn-warning btn-large">
                        Publish</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

